<!-- Title for the ion view -->
<ion-view title="Results">
  <ion-content class="has-header gem-ion-content">
    <label class="item item-input item-select">
      <div class="input-label">
        Sort by
      </div>
      <select>
        <option selected>Price</option>
        <option>Distance</option>
        <option>Duration</option>
      </select>
    </label>
    <!-- standard small heading title -->
    <div class="label-title">{{datas.length}} results found from {{startLocation}} to {{endLocation}}</div>
    <!-- end title -->
    <div class="item item-avatar item-button-right" ng-repeat="data in datas">
      <!-- thumb image -->
      <img src="img/{{data.image}}" class="gem-circle">
      <!-- Name -->
      <h2>{{data.name}}</h2>
      <!-- some text -->
      <p>Price: {{data.price}} | Duration: {{data.duration}} </p> <p> Distance: {{data.distance}}</p>
      <!-- icon and status -->
      <div ng-show="isUber(data)" ng-click="getDetail(data)" class="button-list button button-small button-positive"><i class="icon ion-ios-arrow-forward"></i></div>
    </div>
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
