<!-- Title for the ion view -->
<ion-view title="Results">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-search"></button>
  </ion-nav-buttons>
  <!-- ======================
  RIGHT SIDE BUTTON
  ====================== -->
  
  <!-- ======================
  MAIN CONTENT SECTION
  ====================== -->
  <ion-content class="has-header gem-ion-content">
    <!-- Standard Ionic Markup for search -->
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>    
    <!-- End Search box-->

    <!-- standard small heading title -->
    <div class="label-title">32 friends</div>
    <!-- end title -->
    <div class="item item-avatar item-button-right" ng-repeat="data in datas">
      <!-- thumb image -->
      <img src="img/{{data.image}}" class="gem-circle">
      <!-- Name -->
      <h2>{{data.name}}</h2>
      <!-- some text -->
      <p>Price: {{data.price}} | Duration: {{data.duration}} mins</p>
      <!-- icon and status -->
      <div class="button-list button button-small button-positive"><i class="icon ion-ios-arrow-forward"></i></div>
    </div>  
  </ion-content>
  <!-- ======================
  END MAIN CONTENT SECTION
  ====================== -->
</ion-view>
