<!-- Title for header bar (refer to www/index.html) the bar is hidden-->
<ion-view title="Getting Started" ng-controller="MapCtrl">

    <ion-content class="has-header gem-ion-content">
        <div id="map" data-tap-disabled="true"></div>
        <div class="list">
          <label class="item item-input">
            <input id="start-location" ng-change="location.start" ng-model="location.start" type="text">
          </label>
          <label class="item item-input">
            <input ng-model="location.end" type="text" placeholder="To">
          </label>
          <label class="item">
            <button class="button button-block button-positive" ng-click="submitLocations()">Submit</button>
          </label>
      </div>
    </ion-content>
</ion-view>

