<!-- Title for header bar (refer to www/index.html) the bar is hidden-->
<ion-view title="Getting Started" hide-nav-bar="false" ng-controller="MapCtrl">
    
    <!-- left button -->
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <!-- right button -->
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus-round"></button>
    </ion-nav-buttons>

    <ion-content class="has-header gem-ion-content">
        <div id="map" data-tap-disabled="true"></div>
        <div class="list">
          <label class="item item-input">
            <input id="start-location" ng-change="location.start" ng-model="location.start" type="text">
          </label>
          <label class="item item-input">
            <input ng-model="location.end" type="text" placeholder="To">
          </label>
          <label class="item">
            <button class="button button-block button-positive" ng-click="submitLocations()">Submit</button>
          </label>
      </div>
    </ion-content>
</ion-view>

