<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="UberFamily">
  <ion-content class="has-header gem-ion-content">
    <div class="list card">

    <div class="item center" style="text-align: center;">
      <p>For Parents On The Go</p>
    </div>

    <div class="item item-image">
      <img src="img/uberfamily.jpg">
    </div>
    <div style="text-align: center;">
      Uber is making your life easier with uberFAMILY, the on-demand car seat option for parents on the go. With the touch of a button and a $10 surcharge, you can get around the city with your child safely buckled up.
    </div>

  </div>
  </ion-content>

</ion-view>