<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="UberSUV">
  <ion-content class="has-header gem-ion-content">
    <div class="list card">

    <div class="item center" style="text-align: center;">
      <p>Room for Everyone</p>
    </div>

    <div class="item item-image">
      <img src="img/ubersuv.jpg">
    </div>
    <div class="item" style="text-align: center;">
      <strong>FULL-SIZED LUXURY SUV</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>SEATS 6 PASSENGERS</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>BLACK INTERIOR/EXTERIOR</strong>
    </div>
    <div style="text-align: center;">
      Sample vehicles: GMC Yukon Denali, Cadillac Escalade, Lincoln Navigator, Ford Expedition
    </div>

  </div>
  </ion-content>
</ion-view>