<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="UberBlack">
  <ion-content class="has-header gem-ion-content">
    <div class="list card">

    <div class="item center" style="text-align: center;">
      <p>The Original</p>
    </div>

    <div class="item item-image">
      <img src="img/uberblack.jpg">
    </div>

    <div class="item" style="text-align: center;">
      <strong>LUXURY SEDAN/CROSSOVER</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>SEATS 4 PASSENGERS</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>BLACK INTERIOR/EXTERIOR</strong>
    </div>
    <div style="text-align: center;">
      Sample vehicles: BMW 7 Series, Mercedes S-Class, Cadillac XTS, Lexus LS460
    </div>

  </div>
  </ion-content>

</ion-view>
