<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="UberX">
  <ion-content class="has-header gem-ion-content">
    <div class="list card">

    <div class="item center" style="text-align: center;">
      <p>The Low Cost Uber</p>
    </div>

    <div class="item item-image">
      <img src="img/uberx.jpg">
    </div>

    <div class="item" style="text-align: center;">
      <strong>NON-LUXURY SEDAN</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>SEATS 4 PASSENGERS COMFORTABLY</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>ANY COLOR</strong>
    </div>
    <div style="text-align: center;">
      Sample vehicles: Toyota Camry, Prius, Honda Accord, CRV, Nissan Altima, Maxima, Lincoln Towncar
    </div>

  </div>
  </ion-content>

</ion-view>