<!-- Title for header bar (refer to www/index.html) -->
<ion-view title="UberXL">
  <ion-content class="has-header gem-ion-content">
    <div class="list card">

    <div class="item center" style="text-align: center;">
      <p>Low Cost Rides for Large Groups</p>
    </div>

    <div class="item item-image">
      <img src="img/uberxl.jpg">
    </div>
    <div class="item" style="text-align: center;">
      <strong>NON-LUXURY SUV</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>SEATS 6 PASSENGERS</strong>
    </div>
    <div class="item" style="text-align: center;">
      <strong>ANY COLOR</strong>
    </div>
    <div style="text-align: center;">
      Sample vehicles: Toyota Highlander, Nissan Pathfinder, Dodge Caravan, Toyota Sienna
    </div>

  </div>
  </ion-content>

</ion-view>